@import url("style.css");

main {
  margin: 0 5% 0 5%;
}

.secondaryButton {
  /*position*/
  position: fixed;
  z-index: 10;
  width: fit-content;
  float: left;
  margin: 0;
  padding: 16px 16px 16px 0;

  /*styling*/
  cursor: pointer;
  transition: 0.2s ease-out;
}

.secondaryButton:hover .secondaryButtonText {
  margin: 0 16px 0 12px;
}

.secondaryButtonContent {
  display: flex;
  align-items: center;
}

.icon {
  margin: 0;
}

.secondaryButtonText {
  color: #ee6e4c;
  margin: 0 0 0 28px;
  transition: 0.2s ease-out;
}

section {
  margin-top: 15vh;
}

.aboutItem {
  margin-bottom: 80px;
}

.imageContainer {
  justify-self: center;
}

.referenzen {
  margin-top: 64px;
}

.referenzen p {
  background-color: rgba(205, 210, 235, 0.2);
  float: left;
  margin: 8px 8px 0px 0px;
  transition: 0.2s;
  padding: 8px 12px;
  transition: 0.2s ease-out;
}

.referenzen p:hover {
  /*color: #ee6e4c;*/
  color: #152359;
  cursor: default;
}
