@import url("style.css");

main {
  margin: 0 5% 0 5%;
}

section {
  margin-top: 15vh;
  grid-template-columns: 1fr;
}

.secondaryButton {
  /*position*/
  position: fixed;
  z-index: 10;
  width: fit-content;
  float: left;
  margin: 0;
  padding: 16px 16px 16px 0;

  /*styling*/
  cursor: pointer;
  transition: 0.2s ease-out;
}

.secondaryButton:hover .secondaryButtonText {
  margin: 0 16px 0 12px;
}

.secondaryButtonContent {
  display: flex;
  align-items: center;
}

.icon {
  margin: 0;
}

.secondaryButtonText {
  color: #ee6e4c;
  margin: 0 0 0 28px;
  transition: 0.2s ease-out;
}

.headline {
  margin-top: 15vh;
  margin-bottom: 24px;
}

.buttons {
  position: fixed;
  justify-self: start;
  align-self: flex-start;
  z-index: 10;
  grid-column: 1 / span 2;
}

.subline {
  font-weight: 700;
  margin-bottom: 16px;
}

.bold {
  font-weight: 700;
}

.text {
  margin-bottom: 24px;
}
