@import url("style.css");
@import url("aboutStyle.css");

h2 {
  grid-column: 1 / span 2;
}

#konzertlisteSection {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 0;
}

.termine {
  grid-column: 1 / span 2;
}

@media (max-width: 1024px) {
  h2 {
    grid-column: 1;
  }

  .termine {
    grid-column: 1;
  }
}
