@import url("style.css");
@import url("aboutStyle.css");

section {
  grid-template-columns: 1fr;
}

.absatz {
  margin-bottom: 80px;
}

.bold {
  font-weight: 700;
}

.hygienekonzept {
  margin-top: 40px;
}

#kontodaten {
  list-style-type: none;
}

@media (max-width: 1024px) {
  .absatz {
    grid-column: 1;
  }
}
