@import url("style.css");
@import url("aboutStyle.css");

h2 {
  grid-column: 1 / span 2;
}

.termine {
  grid-column: 1 / span 2;
}

@media (max-width: 1024px) {
  h2 {
    grid-column: 1;
  }

  .termine {
    grid-column: 1;
  }
}
